/* ===== BODY ===== */

body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f6fa;
  margin:0;
}


/* ===== HEADER ===== */

.cart-header{
  background:#2874f0;
  color:#fff;
  padding:15px 30px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cart-header button{
  background:#fff;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}


/* ===== USER BOX ===== */

.user-box{
  background:#fff;
  padding:20px 30px;
  margin:20px;
  border-radius:8px;
}


/* ===== CART ===== */

.cart-container{
  padding:20px 30px;
}

.cart-item{
  background:#fff;
  padding:15px;
  margin-bottom:12px;
  border-radius:8px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.cart-item span{
  font-weight:bold;
}


#emptyMsg{
  text-align:center;
  margin-top:40px;
  color:#777;
}
